<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <body>
    <div >
    <h1>About</h1>
      <p>
        This is an initiative to help people identify wildflowers found in eastern North America, specifically Ontario. <br>
        Soon you will find a <strong>step-by-step identification tool</strong> on this website to help you find the name of that flower you spotted, and information about its rarity, significance, and much more!
      </p>
  </div>
  </body>
</html>


