<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <body>
    <div >
    <h1>About</h1>
      <p>
        This is an initiative to help people identify wildflowers found in Eastern North America. <br>
        <strong>Coming Soon:</strong> Detailed information pages for each flower with information such as rarity, medicinal purposes, common locations, and more! 
      </p>
  </div>
  </body>
</html>


