<html>
  <body>
    <div class="text-center" >
    <h1>Contact</h1>
      <p>
        I am a software developer and love the outdoors, and this is just one of my attempts to bring those two things together.
      </p>
  </div>
  </body>
</html>