<div class="row" style="margin-top:-30px">
  <div class="col-lg-12 text-center" style="padding-top:55px">
    <p style="font-size:50pt">
      <strong>Flower Finder <i class='fa fa-search'></i> </strong>
    </p>
  </div>
  <h3><strong>Which shape does your flower most resemble?</strong></h3><br>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-lg-4" >
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <% label = "<span style='font-size:25px;'>"+category.titlecase+"</span>"%>
            <%= link_to label.html_safe, show_flower_path(colour: params[:colour],prop: category), :class => "btn btn-block btn-default"  %>
        </div>
        </div>
      </div>
    <%end%>
  </div>
  
</div>