<div class="row" style="margin-top:-30px">
  <div class="col-lg-12 text-center" style="padding-top:55px">
    <p style="font-size:50pt">
      <strong>Wildflower Finder <i class='fa fa-leaf'></i> </strong>
    </p>
  </div>
  <div class="row">
    <h3><%=@message.html_safe%></h3><br>
  </div>
  <div id="fad">
    <div class="row">
      <% @flowers.in_groups(3, false) do |ids| %>
        <div class="col-sm-4" >
          <% ids.each do |id| %>
            <%flower = Flower.find(id) %>
            <div class="panel panel-default">
              <%= image_tag flower.images, id: "picture",  class: "img-responsive" %>
              <h1 style="color:#FFFFFF"><%=flower.name%></h1>
            </div>
          <%end%>
        </div>
      <%end%>
    </div>
  </div>
  <div>
    <h3>Can't find your flower? Submit a request with a picture of your flower <a href='contact'>here</a>!</h3>
  </div>

</div>


<script>
$("#fad").delay(500).animate({"opacity": "1"}, 700);
</script>